@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: 'Mulish', Arial;
  color: #E0E0E0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page,
.compass-image {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.login-page {
  background: linear-gradient(to bottom, #33383D, #1C1D20) ;
}

.compass-image {
  position: relative;
}

.compass-logo {
  position: absolute;
  top: 2.25rem;
  left: 50%;
  transform: translate(-50%);
  width: 50%; 
  height: auto; 
  z-index: 1; 
}

.login-page {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-page h1 {
  font-size: 3.75rem;
  font-weight: 400;
}

.login-page p {
  margin-bottom: 4.5625rem;
}

.input-box input {
  background-color: #26292C;
  border: 1px solid #E0E0E0;
  border-radius: 3.125rem;
  font-size: 1rem;
  margin-right: 1.125rem;
  padding: 1.1875rem 1.25rem;
  width: 23.6875rem;
}

.input-box input::placeholder {
  color: #E0E0E0;
}

.input-box svg {
  width: 1.25rem;
  vertical-align: middle;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 23.6875rem;
}

.button-link {
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to right, #FF2D04, #C13216);
  border: none;
  font-weight: 700;
  font-size: 2rem;
  padding: 0.84375rem 0rem;
  border-radius: 3.125rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}